/**
 * Calendar for Symphony CMS
 *
 * @author: Nils Hörrmann, post@nilshoerrmann.de
 * @source: http://github.com/nilshoerrmann/datetime
 */
 
.field-datetime div.calendar {
	background: #353533;
	border-top: none;
	min-width: 23em;
	margin: 0 -1px;
	padding: 16px 40px 42px 16px;
	z-index: 2000;
	position: relative;
	display: none;
}

.field-datetime div.calendar div.date {
	width: 100%;
	min-width: 250px;
	padding: 0;
	position: relative;
/*	border: 1px solid #484846;*/
}


fieldset.primary .field-datetime div.calendar div.date {
	width: 30%;	
}

.field-datetime div.calendar div.date strong {
/*	text-align: center;*/
	padding: 0 0 7px;
	width: 100%;
	display: block;
	font-size: 109.09%;
	font-weight: normal;
	position: relative;
}

.field-datetime div.calendar div.date span {
	display: inline;
/*	width: 50px;*/
	width: auto;
/*	color: #616057;*/
	color: #e4e4e4;
	padding: 0;
	background: none !important;
/*	color: #484846;*/
	cursor: pointer !important;
/*	height: 30px;*/
	font-size: 109.09%;
}

/*.field-datetime div.calendar div.date span:hover {
	background: #56554D;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 1px 3px;
	color: #e4e4e4;
}*/

.field-datetime div.calendar div.date span.nav {
	
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 21px;
	width: 43px;
	padding: 0;
}

.field-datetime div.calendar div.date span.nav a {
	border: 1px solid #535351;
	border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;


	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 20px;
	height: 17px;
	padding: 0;
	margin: 0;
	text-indent: -1000em;
	overflow: hidden;
	background: url(images/previous.png) 6px center no-repeat;
/*	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 10px;*/
}

.field-datetime div.calendar div.date span.nav a.next {
	background: url(images/next.png) 3px center no-repeat;
	border-left: none;
	left: 22px;
	border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
/*	left: auto;
	right: 0;
	text-align: right;*/
}


.field-datetime div.calendar div.date span.nav a:hover {
	background-color: #1f1f1e;
}

/*
.field-datetime div.calendar p {
	color: #616057;
	margin: 20px 0 10px;
}

.field-datetime div.calendar code {
	background: #56554D;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 1px 3px;
	color: #e4e4e4;
	font-size: 1em;
}*/

/*.field-datetime div.calendar p.active code {
	-webkit-box-shadow: 0 0 5px #f0f0f0;
	-moz-box-shadow: 0 0 5px #f0f0f0;
	box-shadow: 0 0 5px #f0f0f0;
}*/

.field-datetime div.calendar table {
	background: #323230;
	border-collapse: collapse;
	clear: both;
/*	border: 2px solid #323230;*/
/*	border-top: 1px solid #414140;*/
/*	width: 251px;*/
}

.field-datetime div.calendar thead tr {
	background: #353533;
/*	background: #323230;*/
/*	border-left: 1px solid #323230;
	border-right: 1px solid #323230;*/
	border-top: 1px solid #535351;
/*	border-top: 1px solid #41403f;*/
}

.field-datetime div.calendar thead td, .field-datetime div.calendar thead td:nth-last-child(odd) {
/*	background: #353533;*/
/*	background: #323230;*/
	background: #353533;
	border: none;
	height: 30px;
/*	padding-bottom: 2px;*/
	color: #616057;
}

.field-datetime div.calendar thead td:hover {
	background: none;
	border: none;
	color: #fff;
	cursor: auto;
}

.field-datetime div.calendar td {
/*	background: #383836;*/
	background: #323230;
/*	border: 1px inset #484846;*/
/*	border: 1px solid rgba(255, 255, 255, 0.05);*/
/*	border: 1px solid rgba(200, 200, 200, 0.1);*/
	border: 1px solid #41403f;
/*	border: 1px solid #494948;
	border-top-color: #65645d;
	border-bottom-color: #65645d;*/
/*	border: 1px solid #414140;
	border-left-color: #494948;
	border-right-color: #494948;*/
	border-style-bottom: none;
	color: #fff;
	cursor: pointer;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	width: 35px;
}

.field-datetime div.calendar td.last,.field-datetime div.calendar td.next {
	color: #686865;
}

.field-datetime div.calendar td:nth-last-child(odd) {
/*	background: #56554d;*/
	background: #383836;
/*	border: 1px solid #434342;
	border-left-color: #494948;
	border-right-color: #494948;*/
}

.field-datetime div.calendar td.today {
/*	background: #898883;*/
/*	background: #56554d;*/
	background: rgba(200, 200, 200, 0.2);
/*	border: 1px solid #898880;*/
}

.field-datetime div.calendar td.selected {
	background: #5273c0;
/*	background: #81b934;*/
/*	border: 1px solid #fff;*/
/*	border: 1px solid #617dc5;*/
/*	border: 1px solid #6a9bd2;*/
	color: #fff;
	border: 1px solid rgba(200, 200, 200, 0.1);
}

.field-datetime div.calendar td.selected:nth-last-child(odd) {
	background: #5677c3;
}

.field-datetime div.calendar td.last.selected, .field-datetime div.calendar td.next.selected {
/*	background: #83a751;*/
/*	border: 1px ridge #c2c2c2;*/
	background: #475466;
/*	border: 1px solid #475d7d;*/
	border: 1px solid rgba(200, 200, 200, 0.1);
}

.field-datetime div.calendar td.last.selected:nth-last-child(odd), .field-datetime div.calendar td.next.selected:nth-last-child(odd) {
	background: #505f73;
}

.field-datetime div.calendar td.selected.today {
/*	background: #a5bf80;
	border: 1px solid #fff;*/
	background: #7499d2;
/*	border: 1px solid #fff;*/
	border: 1px solid rgba(200, 200, 200, 0.1);
}

.field-datetime div.calendar td:hover {
	background: #ffb !important;
	border: 1px solid #fff;
	color: #9d854c;
}

.field-datetime div.calendar thead td:hover {
	background: none !important;
	border: inherit;
	color: #fff;
}

.field-datetime div.calendar div.cutter {
	overflow: hidden;
}

.field-datetime div.calendar div.timeline {
	position: relative;
	margin: 42px 0 3px;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #424140;
}

.field-datetime div.calendar div.timeline span {
	float: left;
	color: transparent;
	border: none;
	border-left: 1px solid #42413f;
	height: 7px;
	background: none !important;
	margin: 0;
	padding: 0;
	width: 4.347%;
	position: relative;
	top: -3px;
	cursor: pointer !important;
}

.field-datetime div.calendar div.timeline div.range {
	background: rgba(58, 100, 183, 0.5);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 7px;
	display: block;
	width: 100px;
	position: absolute;
	top: -3px;
	left: 100px;
	cursor: pointer !important;
}

.field-datetime div.calendar div.timeline.end div.range {
	left: -3px;	
}

.field-datetime div.calendar div.timeline code {
	position: absolute;
	left: 0;
	top: -23px;
	background: #56554D;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 1px 3px;
	color: #e4e4e4;
	font-size: 1em;
}

.field-datetime div.calendar div.timeline.end code {
	left: auto;
	right: 0;
}

.field-datetime div.calendar div.timeline div.range span {
	border: none;
	height: 5px;
	width: 5px;
	background: #c0c0c0 !important;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 1px;
	cursor: w-resize !important;
}

.field-datetime div.calendar div.timeline div.range span.end {
	left: auto;
	right: 0;
	cursor: e-resize !important;
	background: cyan !important;
}