/**
 * Calendar for Symphony CMS
 *
 * @author: Nils Hörrmann, post@nilshoerrmann.de
 * @source: http://github.com/nilshoerrmann/calendar
 */

div.dt-calendar {
	-webkit-font-smoothing: antialiased;
	position: relative;
	margin: 0 auto;
	padding: 1.5rem 0!important;
	border: none!important;
	background: none!important;
	max-width: 30rem;
	z-index: 20;
}

/* Flip navigation*/

div.dt-calendar div.date {
	width: 100%;
	padding: 0;
	position: relative;
}

div.dt-calendar div.date:not(:last-child) {
	display: block!important;
	padding: 0!important;
	width: 100%!important;
}

div.dt-calendar div.date nav {
	padding-bottom: 0.5rem;
	height: 25px;
}

div.dt-calendar div.date nav a {
	display: inline-block;
	background: url(images/arrows.png) 6px -13px no-repeat;
	border: none;
	margin: 0;
	text-indent: -1000em;
	width: 20px;
	height: 13px;
	position: absolute;
	top: 4px;
	left: 1px;
	z-index: 1000;
}

div.dt-calendar div.date nav a:last-of-type {
	background: url(images/arrows.png) -15px -13px no-repeat;
	left: auto;
	right: -6px;
}

/* Switch navigation */

div.dt-calendar div.switch {
	width: 180px;
	margin: 0 0 0 -90px;
	float: left;
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	height: 19px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	z-index: 2000;
	background: #2f77eb;
}

div.dt-calendar div.switch:hover {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	background: #323230;
	background-image: -webkit-linear-gradient(top, #353533, #323230);
	background-image:    -moz-linear-gradient(top, #353533, #323230);
	background-image:     -ms-linear-gradient(top, #353533, #323230);
	background-image:      -o-linear-gradient(top, #353533, #323230);
}

div.dt-calendar div.switch.active {
	background: none;
	overflow: hidden;
	height: auto;
	top: -117px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.2);
}

div.dt-calendar div.switch ul {
	width: 80px;
	float: left;
	font-size: 109.09%;
	background: none;
	border: none;
	padding: 0;
	margin: -117px 0 0;
}

div.dt-calendar div.switch.active ul {
	margin: 0;
	overflow: hidden;
}

div.dt-calendar div.switch ul.months {
	width: 100px;
	text-align: right;
}

div.dt-calendar div.switch ul.months li {
	border-right: 1px solid transparent;
	width: 92px;
}

div.dt-calendar div.switch.active ul.months li {
	border-right: 1px solid #eaeaea;
}

div.dt-calendar div.switch ul.months li:nth-child(6) {
	background: url(images/arrows.png) 8px 7px no-repeat;
}

div.dt-calendar div.switch ul.years li:nth-child(6) {
	background: url(images/arrows.png) 70px 7px no-repeat;
}

div.dt-calendar div.switch ul li {
	color: #fff;
	font-size: 1.1rem;
	background: #fff;
	border: none;
	height: 13px;
	line-height: 1;
	cursor: pointer;
	padding: 5px 4px !important;
	margin: 0 -1px;
	position: relative;
	z-index: 3000;
	transition-duration: 0s;
}

div.dt-calendar div.switch ul.months li:first-child {
	border-radius: 5px 0 0 0;
}

div.dt-calendar div.switch ul.months li:last-child {
	border-radius: 0 0 0 5px;
}

div.dt-calendar div.switch ul.years li:first-child {
	border-radius: 0 5px 0 0;
}

div.dt-calendar div.switch ul.years li:last-child {
	border-radius: 0 0 5px 0;
}

div.dt-calendar div.switch:not(.active) {
	box-shadow: none;
	height: 20px;
}

div.dt-calendar div.switch.active li {
	color: #000;
}

div.dt-calendar div.switch.active ul:hover li:nth-child(6) {
	background: #fff;
	color: #757c84;
}

div.dt-calendar div.switch.active ul li:nth-child(6) {
	background: #2f77eb;
	color: #fff;
}

div.dt-calendar div.switch.active ul li:hover {
	background: #2f77eb !important;
	color: #fff !important;
}

/* Calendar sheet */

div.dt-calendar table {
	border-collapse: collapse;
	clear: both;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #fff;
}

div.dt-calendar td {
	background: transparent;
	border: 1px solid #d3dce2;
	border-bottom-style: none;
	color: #2f77eb;
	cursor: pointer;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	padding: 0!important;
	width: 35px;
	text-shadow: none;
}

div.dt-calendar thead td,
div.dt-calendar thead td:first-child,
div.dt-calendar thead td:last-child {
	background: transparent;
	border: none;
	height: 30px;
	color: #2f77eb;
}

div.dt-calendar td.last,
div.dt-calendar td.next {
	color: #d3dce2;
}

div.dt-calendar td.today {
	color: #fff;
	background: #2f77eb;
}

div.dt-calendar td.selected {
	background: #2f77eb;
	color: #fff;
}

div.dt-calendar td:first-child.selected,
div.dt-calendar td:last-child.selected {
	background: #5677c3;
}

div.dt-calendar td.last.selected,
div.dt-calendar td.next.selected {
	background: #475466;
}

div.dt-calendar td.selected.today {
	background: #2f77eb;
}

div.dt-calendar tbody td:hover {
	background: #2f77eb!important;
	color: #fff;
}

div.dt-calendar thead {
	display: table-header-group!important;
}

div.dt-calendar tr {
	display: table-row!important;
}

div.dt-calendar td {
	display: table-cell!important;
}

/* Ordering */

li.ordering div.dt-calendar nav {
	border-bottom-color: #3c5c8c;
}

li.ordering div.dt-calendar nav a {
	display: none;
}

li.ordering div.dt-calendar td {
	border: 1px solid #44689e;
}

li.ordering div.dt-calendar thead td {
	border: none;
	color: #3c5c8c;
}

li.ordering div.dt-calendar tbody td:first-child,
li.ordering div.dt-calendar tbody td:last-child {
	background: rgba(68, 104, 158, 0.5);
}

li.ordering div.dt-calendar div.switch {
	background: #44689e;
}

/* Single date */

.frame.single div.dt-calendar div.date nav a:first-of-type {
	left: -6px;
}

.frame.single div.dt-calendar div.date nav a:last-of-type {
	right: -8px;
}
