/**
 * Date and Time for Symphony CMS
 *
 * @author: Nils Hörrmann, post@nilshoerrmann.de
 * @source: http://github.com/nilshoerrmann/datetime
 */

.field-datetime label {
	margin-bottom: 2px;
}

.field-datetime .frame {
	overflow: visible;
	padding-bottom: 7px;
}

.field-datetime ol,
.field-datetime ol li {
	float: none;
}

.field-datetime .frame header {
	padding: 4px 10px 3px;
	position: relative;
}

.field-datetime .frame header div {
	padding: 0 3px 0;
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	background: #fff;
	position: relative;
}

.field-datetime .frame header div.focus {
	border-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.field-datetime header input,
.field-datetime header input:hover,
.field-datetime header input:active,
.field-datetime header input:focus {
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 1px 2px 0;
	margin: 0;
	height: 23px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
}

.field-datetime header input.end {
	border-top: 1px solid #E4E4DE;
	background: transparent url(images/range.png) 3px 7px no-repeat;
	padding-left: 20px;
	display: none;
}

.field-datetime li.range header input.end {
	display: block;
}

.field-datetime .frame header a.destructor {
	top: 9px;
	right: 10px;
	border: none;
}

.field-datetime header em.label {
	color: #a9a9a9;
	position: absolute;
	top: 4px;
	right: 10px;
	margin-top: 0;
	font-style: normal;
	text-shadow: none;
}

.field-datetime header em.end.label {
	top: 27px;
}

.field-datetime fieldset.apply {
	float: none;
}

/* Ordering */

.field-datetime .frame li.ordering header div {
	border-color: #44689e;
}

/* Single dates */

.field-datetime .frame.single.simple {
	overflow: visible;
	padding-bottom: 2px;
}

.field-datetime .frame.single ol {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}

.field-datetime .frame.single li {
	border-radius: 0;
	border: none !important;
}

.field-datetime .frame.single header {
	padding: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.field-datetime .frame.single li header div {
	border-radius: 2px 2px 0 0;
	border-bottom-color: #2e2e2c;
	-webkit-transition: border 0.1s ease-in;
	-moz-transition: border 0.1s ease-in;
	-ms-transition: border 0.1s ease-in;
	-o-transition: border 0.1s ease-in;
	transition: border 0.1s ease-in;
}

.field-datetime .frame.single li.collapsed header div {
	border-bottom-color: rgba(0, 0, 0, 0.25);
}

.field-datetime .frame.single li.collapsed header div.focus {
	border-bottom-color: rgba(0, 0, 0, 0.15);
}

.field-datetime .frame.single li.collapsed header div {
	border-radius: 2px;
}

.field-datetime .frame.single .content {
	border-radius: 0 0 4px 4px;
	margin: 0 -10px;
	padding: 10px;
}
